<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.mybatisdemo.mapper.UserMapper">
    <insert id="insert">
        insert into  json_user (data,created) values (#{data},#{created})
    </insert>

    <select id="selectOneById" resultType="map">
        select *
        from json_user
        where uid = #{id}
    </select>
    <select id="getOne" resultType="JsonUser">
        SELECT *
        FROM json_user
        WHERE uid = #{id}
    </select>
</mapper>